@tailwind base;
@tailwind components;
@tailwind utilities;

.navButton {
  @apply w-full 
 text-white
 p-3
  defaultHover
  translate-x-0
  ease-in-out
  hover:bg-gray-500;
}

.mobilePreview {
  @apply w-full 
  grid grid-cols-3



}

.drop-down-button{
  @apply 
  text-white
  text-3xl
  text-left
  rounded
  w-full
  flex-1
  my-4
  mx-4
  defaultHover
  translate-x-0
  ease-in-out
  bg-black
  hover:bg-gray-500;
  
}

.contactButtons {
  @apply w-full
  text-3xl
  mx-5
  rounded-3xl
  p-10
  defaultHover;
}

.pageMainSubheading {
  @apply text-secondary
text-6xl
pb-10;
}

.projectTitle {
  @apply pb-8
    text-secondary
    text-4xl
    mt-7;
}

.projectSecondaryText {
  @apply text-left
    text-secondary
    pl-10
    pr-10
    pt-1;
  padding-bottom: 30px;
}

.githubButton {
  @apply text-2xl
  text-secondary
  rounded-3xl
  p-4

absolute bottom-16 left-1/2 -translate-x-1/2
bg-black;
}
/* Base styles - adjust as needed for larger screens */
.githubButton {
  @apply text-2xl rounded-3xl p-4 bg-black text-secondary;
}

/* Tailwind CSS doesn't directly support applying responsive styles within @apply, 
   so you use standard media queries for specific responsive adjustments */
@media (max-width: 639px) {
  /* Tailwind's 'sm' breakpoint */
  .githubButton {
    @apply absolute bottom-0 ml-16;
  }
}

.defaultHover {
  @apply transition 
ease-in-out 
  hover:-translate-y-1 
  hover:scale-110
  hover:border-secondary
  hover:border-2;
}
